
div.controls {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
}

div.controls button {
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: 4px;
    margin-top: 4px;
}